<div ng-if="!connected">
  Waiting for connection...
</div>
<div ng-if="connected">
  <div ng-if="waiting">
    Someone has already the control on the screen. Waiting a moment before your turn.
  </div>
  <!-- div ng-if="!waiting" id="canvasContainer">
    <pulsetotem-canvas></pulsetotem-canvas>
  </div-->
</div>
<div id="canvasContainer">
  <pulsetotem-canvas></pulsetotem-canvas>
</div>


<!--
var htmlcanvas = drawCanvas[0];
var context = htmlcanvas.getContext('2d');
var started = false;
var previousPos;
var currentPos;

var getMousePos = function(canvas, evt) {
// get canvas position
var obj = canvas;
var top = 0;
var left = 0;
while (obj && obj.tagName != 'BODY') {
top += obj.offsetTop;
left += obj.offsetLeft;
obj = obj.offsetParent;
}

// return relative mouse position
var mouseX = evt.clientX - left + window.pageXOffset;
var mouseY = evt.clientY - top + window.pageYOffset;
return {
x:mouseX,
y:mouseY
};
}

var getTouchPos = function(canvas, evt) {
// get canvas position
var obj = canvas;
var top = 0;
var left = 0;
while (obj && obj.tagName != 'BODY') {
top += obj.offsetTop;
left += obj.offsetLeft;
obj = obj.offsetParent;
}

// return relative touch position
var touchX = evt.touches[0].clientX - left + window.pageXOffset;
var touchY = evt.touches[0].clientY - top + window.pageYOffset;
return {
x:touchX,
y:touchY
};
}

var clicked = function(evt) {
previousPos = getMousePos(drawCanvas, evt);
started = true;
}

var released = function(evt) {
started = false;
}

var drawLine = function(previousPos, currentPos) {
context.beginPath();
context.moveTo(previousPos.x, previousPos.y);
context.lineTo(currentPos.x, currentPos.y);
context.stroke();
}

drawCanvas.on('mousedown', clicked);
drawCanvas.on('mouseup', released);
drawCanvas.on('mouseout', released);

htmlcanvas.addEventListener('mousemove', function (evt) {
currentPos = getMousePos(htmlcanvas, evt);

// Let's draw some lines that follow the mouse pos
if (started) {
drawLine(previousPos, currentPos);

previousPos = currentPos;
}
}, false);


drawCanvas.on("touchstart", function(event) {
previousPos = getTouchPos(htmlcanvas, event);
started = true;
});

drawCanvas.on("touchend", function(event) {
released(event);
console.log("touchend");
});

drawCanvas.on("touchmove", function(event) {
event.preventDefault()
currentPos = getTouchPos(htmlcanvas, event);
console.log("touchmove");

if (started) {
drawLine(previousPos, currentPos);
previousPos = currentPos;
}
});-->
